.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: #b7e4c7;
  color: #081c15;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 30%;
  margin-right: 30%;
  background-color: #d8f3dc;
  border-radius: 30px;
}

.foto {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.biodata {
  flex-grow: 4;
  align-items: center;
}

.biodata h2 {
  color: #1b4332;
}